# .env.example
# Copy this to .env and fill in your values
# If .env does not exit, create the file in root directory of the frontend folder

# Backend API Base URL
VITE_BASE_URL=http://localhost:5063/api/

# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=mydb
POSTGRES_PORT=5432

# Application Configuration
DOTNET_APP_PORT=5063
ALLOWED_HOST=localhost