services:
  traefik:
    image: traefik:v3.5
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/traefik.yml:/traefik.yml:ro
      - ./traefik/acme.json:/acme.json
    networks:
      - proxy

  timescaledb:
    image: timescale/timescaledb:latest-pg17
    container_name: timescaledb
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./timescaledb/data:/var/lib/postgresql/data
      - ./timescaledb/seed:/seed
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - internal

  dotnet_app:
    image: ghcr.io/tdt4290-group2/backend:main
    environment:
      ConnectionStrings__DefaultConnection: "Host=timescaledb;Port=${POSTGRES_PORT:-5432};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}"
      AllowedHost: ${ALLOWED_HOST}
    container_name: dotnet_app
    depends_on:
      timescaledb:
        condition: service_healthy
    networks:
      - internal
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dotnet-app.rule=Host(`domain.tld`) && PathPrefix(`/api`)"
      - "traefik.http.routers.dotnet-app.entrypoints=websecure"
      - "traefik.http.routers.dotnet-app.tls=true"
      - "traefik.http.routers.dotnet-app.tls.certresolver=letsencrypt"
      - "traefik.http.services.dotnet-app.loadbalancer.server.port=8080"
      - "traefik.docker.network=proxy"

  frontend:
    image: ghcr.io/tdt4290-group2/frontend:main # Needs to be rebuilt to include correct API URL
    container_name: frontend
    depends_on:
      - dotnet_app
      - timescaledb
    networks:
      - internal
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`domain.tld`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls=true"
      - "traefik.http.routers.frontend.tls.certresolver=letsencrypt"
      - "traefik.http.routers.frontend.priority=1"
      - "traefik.http.services.frontend.loadbalancer.server.port=3000"
      - "traefik.docker.network=proxy"

networks:
  proxy:
    name: proxy
  internal:
    driver: bridge